#firstlogin{
    input[type=email],input[type=password],input[type=text]{
        margin-top: 10px;
        display: block;
        width: 250px;
        border:0px;
        border-bottom: 1px solid #7385ED;
        background: transparent;
        outline: 0;
    }
    button:first-of-type{
        margin-left: 20px;
        margin-right: 20px;
    }
    button{
        min-width: 100px;
        height: 35px;
        display: block;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid transparent;
        background-color: #7385ED;
        color: #fff;
        outline: 0px;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }

    #startNow.done{color:transparent;}
}
.data-wrapper{
    .step{
        .organization-step{
            margin-top: 20px;
        }
        .input-groups{
            margin-left: 20px;
        }

        #startNow{margin-top: 30px;}
    }
}
