#qrcodes{
  padding-top: 30px;
  padding-right: 50px;
  width: 100%;

  .bluebutton{
    width: auto;
    min-width: 100px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  #code-overview{

    .codes{
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      flex-wrap: wrap;

      .code {
        max-width: 220px;
        height: 220px;
        flex: 1 0 21%; /* explanation below */
        margin: 5px;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

  }
}