
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'keyframes';
@import 'misc';
@import 'globals';
@import 'pages/login';
@import 'pages/firstlogin';
@import 'pages/dashboard';
@import 'root';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: $font-family-sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
